<h1>About CSU ScholarWorks</h1>

<p>ScholarWorks is a shared institutional repository that collects, preserves, and provides access to
  scholarship by research communities at The California State University. Collections include CSU faculty publications,
  student dissertations and theses, datasets, and teaching materials.</p>

<h2>System migration project</h2>

<p>We're currently in the process of migrating data and files from our old system to this new platform. More information
  about the project can be found on our
  <a href="https://calstate.atlassian.net/wiki/spaces/SCHOL/overview">project website</a>.</p>

<a id="accessibility"></a>

<h2>Accessibility Statement</h2>

<p>We want everyone who visits ScholarWorks to feel welcome and find the experience rewarding.</p>

<p>To help us make ScholarWorks a positive place for everyone, we've been using the
  <a href="http://www.w3.org/TR/WCAG/" rel="nofollow noopener noreferrer" target="_blank">Web Content Accessibility
    Guidelines (WCAG) 2.0.<span class="sr-only">This link will take you to an external website in a new tab.</span>
    <span title="This link will take you to an external website in a new tab." aria-hidden="true">
      <svg style="max-width: 13px; margin-right: 10px;" aria-hidden="true" focusable="false" data-prefix="fas"
        data-icon="external-link" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
        <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM474.67,0H316a28,28,0,0,0-28,28V46.71A28,28,0,0,0,316.79,73.9L384,72,135.06,319.09l-.06.06a24,24,0,0,0,0,33.94l23.94,23.85.06.06a24,24,0,0,0,33.91-.09L440,128l-1.88,67.22V196a28,28,0,0,0,28,28H484a28,28,0,0,0,28-28V37.33h0A37.33,37.33,0,0,0,474.67,0Z"></path>
      </svg>
    </span>
  </a>
  These guidelines explain how to make web content more accessible for people with disabilities, and user
  friendly for everyone.
</p>

<p>The guidelines have three levels of accessibility (A, AA and AAA). We’ve chosen Level AA as the target for
  ScholarWorks.</p>

<p>We have worked hard on ScholarWorks and believe we have achieved our goal of Level AA accessibility. We monitor the
  website regularly to maintain this, but if you do find any problems, please get in touch.
  <a href="mailto:scholarworks@calstate.edu">Email us</a> to share your thoughts.</p>

<p>This accessibility statement was generated on October 20, 2021.</p>
