<%# customization: complete home page redesign %>

<% provide :page_title, application_name %>

<div id="csu-home-top">
  <div class="csu-home-container">
    <div class="csu-home-jumbotron">
      <div class="csu-search-wrapper">
        <h1>CSU Digital Archives</h1>
        <form class="nav-search-form" id="search-form-header" role="search" action="/catalog" accept-charset="UTF-8" method="get">
          <input type="hidden" name="search_field" id="search_field" value="all_fields">
          <div class="input-group nav-search-text">
            <label class="sr-only" for="search-field-header">Search</label>
            <input type="text" name="q" id="search-field-header" value="" class="q form-control" autocomplete="off" placeholder="Search <%= @total %> items">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-emphasis" title="Search" id="search-submit-header">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="csu-home-lower">
  <div id="csu-home-submissions">
    <div class="csu-home-container">
      <div class="csu-recent-submissions service-item">
        <h2 class="csu-home-feature">Recent submissions</h2>
        <ul class="csu-documents csu-documents-home">
          <% @recent_documents.each do |document| %>
            <li>
              <%= render 'csu/result', document: document, hyrax: main_app %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render '/shared/select_work_type_modal', create_work_presenter: @presenter.create_work_presenter if @presenter.draw_select_work_modal? %>
