<% if f.object.model.id.nil? %>
<script type="text/javascript" charset="utf-8">
  $(function () {
         $('#is_abstract').on('change', scholarworks.is_abstract_change);
    scholarworks.is_abstract_change(); // turn on/off warning based on edit work
      /*
         let config = { attributes: false, childList: true, subtree: true};
         let fileupload_elem = document.getElementById("fileupload");
         scholarworks.fileupload_observer.observe(fileupload_elem, config);
         */
  });
</script>

<div class="form-group managed">
   <label class="control-label multi_value optional" for="is_abstract">Abstract-only Submission</label>
   <%= f.input key, as: :boolean, input_html: { id: "is_abstract" } %>
</div>
<% end %>
