<%
  # OVERRIDE file from Hyrax v3.6.0
  # Customization: remove contact form in place of contact list
%>
<div class="csu-page">
  <h1>Contact us</h1>
  <%= render :partial => "hyrax/pages/contact" %>
</div>
