<% provide :page_title, "401 Unauthorized" %>
<div class="csu-error-message">
  <h1>Sorry, this page is restricted.</h1>
  <p>You are not authorized to access this page. Please contact support for additional assistance.</p>
</div>
