<%
  # OVERRIDE file from hyrax v3.6.0
  # Customization: CSU search results
%>

<div class="row">
  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'search_sidebar' %>
  </div>
  <div id="content" class="col-md-9 col-sm-8">
    <div class="csu-search-results">
      <%= render 'search_results' %>
    </div>
  </div>
</div>
