<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi</h3>
    <p>Your Glacier archive is ready for download.  You can begin the download by clicking <a href="<%= @location %>">here</a>.
  </body>
</html>
