@media (min-width: 767px) {
    #csu-home-top {
        background-image: image-url("home/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.view-type {
    display: none;
}