<%
  # OVERRIDE class from hyrax v3.6.0
  # Customization: complete reworking of the search area
%>
<div class="csu-search-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <span class="csu-title">
          <a href="/"><%= t('hyrax.product_name') %></a>
        </span>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="row">
          <div class="col-md-10">
            <div class="csu-search-box">
              <%= render partial: 'catalog/search_form' %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="csu-advanced-option">
              <%= link_to 'Advanced',
                          blacklight_advanced_search_engine.advanced_search_path(search_state.to_h),
                          class: 'col-sm-3 text-right'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
