<%
  # OVERRIDE class from hyrax v3.6.0
  # Customization: CSU Wordmark
%>
<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
    <%= image_tag("wordmark.svg", alt: "California State University") %>
</a>
