<% campus = (defined?(presenter.campus) && presenter.campus.present?) ? presenter.campus.first : "" %>

<% if campus == "Chico" %>
  <p>CSU, Chico is committed to accessibility. If you have any problems accessing this material, please contact
  the Accessibility Resource Center at 898-5959  or submit an
  <a href="https://support.csuchico.edu/TDClient/1984/Portal/Requests/ServiceDet?ID=15079">
    Accessible Content service ticket</a>.
  </p>
<% end %>
