<% campus = (defined?(presenter.campus) && presenter.campus.present?) ? presenter.campus.first : "" %>
<div class="csu-campus-info">
  <div class="csu-campus-logo">
    <%= render 'shared/campus_logo', campus: campus %>
  </div>
  <div class="campus-description">
    <% if campus == "East Bay" %>
      <a href="https://library.csueastbay.edu/aboutthelibraries/policies/repositories">
        Cal State East Bay Repository Policies
      </a>
    <% end %>
  </div>
</div>